.navbar-inverse {
	background-color: #bb0808;
	border-color: #bb0808;
}

.spot {
	padding: 10px;
	border-bottom: 1px dotted #e1e1e1;
}

.spot:active {
	background-color: #f1f1f1;
}

.spot h4 {
	font-weight: bold;
	margin-bottom: 0px;
}

.spot .index {
	color: #bb0808;
}

.spot .description {
	font-style: italic;
	margin-left: 15px;
}
