<img src="/images/logo.png" class="img-responsive" alt="Responsive image" style='margin-left: auto; margin-right: auto; width: 280px;'>
<h1>Hola</h1>
<!-- Add your site or application content here -->
<p>Hello world! This is HTML5 Boilerplate.</p>

<a type="button" class="btn btn-info btn-lg btn-block" ng-click='search()'>Buscar restaurantes</a>
